[Unit]
Description=Run LavaLauncher
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/lavalauncher
Restart=on-failure

[Install]
WantedBy=graphical-session.target
