[Unit]
Description=Run Virtual Keyboard
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wvkbd-mobintl --hidden -R 12 -L 200 --fn "Firosevka 18"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
