#workspaces {
  padding: 6px 0px 6px 0px;
  margin: -2px 0px 0px -2px;
  border-radius: 0px 0px 8px 0px;
  border: 1px solid @fg0;
  background: @bg2;
}

#workspaces button {
  padding-left: 6px;
  padding-right: 7px;
}

#taskbar {
  padding: 6px 0px 6px 0px;
  margin: -2px -2px 0px 0px;
  border-radius: 0px 0px 0px 8px;
  border: 1px solid @fg0;
  background: @bg2;
}

#taskbar {
  padding: 2px 0px;
}

#taskbar button {
  padding: 4px 1px;
  margin: 0px 1px;
  border-radius: 8px;
}

#taskbar button.active {
  background-color: @cyan;
}

#taskbar button box label {
  all: unset;
  margin: -999px;
}
