@import "../../.local/colors/css/default.css";

* {
  all: unset;
  font-size: 18px;
  font-family: "Firosevka", "Symbols Nerd Font Mono";
  min-height: 0px;
  min-width: 0px;
  border: none;
  padding: 0 0 0 0;
  border-radius: 0;
  background: none;
  background-color: transparent;
  transition: 200ms;
  transition-property: background-color;
  transition-duration: 200ms;
  color: @fg0;
}

.modules-left {
  border-radius: 0px 0px 0px 8px;
  background-color: @bg2;
}

#workspaces {
  padding: 8px 0px 8px 0px;
}

#workspaces button {
  padding-left: 6px;
  padding-right: 7px;
}

#group-tray {
  padding: 6px 0px 6px 0px;
}

#tray {
  padding: 0px 2px;
  margin-bottom: 6px;
}

#tray menu {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid @fg0;
  background-color: @bg2;
}

#tray menu :hover {
  background-color: @blue;
}

#backlight,
#pulseaudio,
#power-profiles-daemon,
#battery,
#systemd-failed-units,
#custom-conduit,
#custom-notification {
  color: @fg1;
  font-size: 16px;
}

#backlight,
#pulseaudio,
#power-profiles-daemon,
#battery,
#systemd-failed-units,
#custom-conduit {
  padding-bottom: 8px;
}

#custom-notification {
  padding: 0px 2px;
}

#battery.discharging.s02 {
  color: @yellow;
}

#battery.discharging.s01 {
  color: @orange;
}

#battery.discharging.s00 {
  color: @red;
}


#clock {
  padding: 8px 0px 8px 0px;
}

tooltip {
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid @fg0;
  background-color: @bg2;
}
