
[[mgr.prepend_keymap]]
on = ["F"]
run = "filter --smart"
desc = "Smart filter"

[[mgr.prepend_keymap]]
on = ["\\"]
run = "plugin jump-to-char"
desc = "Jump to char"

[[mgr.prepend_keymap]]
on = "<C-Enter>"
run = 'shell --orphan $TERMCMD -D=$0'
desc = "Open terminal here"

[[mgr.prepend_keymap]]
on = "!"
run = 'shell --block "$SHELL"'
desc = "Open shell here"

[[mgr.prepend_keymap]]
on = ["g", "r"]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'
desc = "cd to git root"

[[mgr.prepend_keymap]]
on = ["g", "l"]
run = "shell --block lazygit"
desc = "run lazygit"

[[mgr.prepend_keymap]]
on   = "f"
run  = "plugin jump-to-char"
desc = "Jump to char"

[[mgr.prepend_keymap]]
on = ["c", "h"]
run = "plugin chmod"
desc = "Chmod selected"

[[mgr.prepend_keymap]]
on = ["c", "y"]
run = ["plugin wl-copy"]
desc = "Copy to clipboard"

[[mgr.prepend_keymap]]
on = ["m"]
run = "plugin bookmarks save"
desc = "Save current position as a bookmark"

[[mgr.prepend_keymap]]
on = ["'"]
run = "plugin bookmarks jump"
desc = "Jump to a bookmark"

[[mgr.prepend_keymap]]
on = ["M"]
run = "plugin bookmarks delete"
desc = "Delete a bookmark"
