"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [0, 1, 1]
sort_by = "natural"
sort_translit = true
linemode = "size"
show_hidden = false
show_symlink = false
scrolloff = 8
mouse_events = ["click", "scroll"]
title_format = "{cwd}"

[preview]
wrap = "yes"
tab_size = 4
image_delay = 100
image_quality = 65

[opener]
edit = [
  { run = 'nvimwrapper "$@"', desc = "EDITOR", block = true, for = "unix" },
]
csv = [{ run = 'visidata "$@"', desc = "visidata", block = true, for = "unix" }]
open = [{ run = 'xdg-open "$1"', desc = "Open", orphan = true, for = "unix" }]
viewer = [{ run = 'qimgv "$1"', desc = "Qimgv", orphan = true, for = "unix" }]
browser = [{ run = 'firefox "$1"', desc = "Browser", orphan = true, for = "unix" }]
extract = [
  { run = 'ya pub extract --list "$@"', desc = "Extract", for = "unix" },
]
reader = [{ run = 'zathura "$1"', desc = "Reader", orphan = true, for = "unix" }]

[open]
rules = [
  # Folder
  { name = "*/", use = [
    "edit",
    "open",
    "viewer",
    "reader",
    "browser",
  ] },
  # Empty file
  { mime = "inode/empty", use = [
    "edit",
    "open",
  ] },
  # Text
  { mime = "text/*", use = [
    "edit",
    "open",
  ] },
  # Table
  { mime = "*/{csv,tab,tsv,ssv,octet-stream}", use = [
    "csv",
    "edit",
    "open",
  ] },
  { mime = "*/{json,ndjson,jsonc,x-wine-extension-ini}", use = [
    "edit",
    "open",
  ] },
  # Media
  { mime = "{image,audio,video}/*", use = [
    "open",
    "viewer",
  ] },
  # Archive
  { mime = "application/{java-archive,zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
    "extract",
    "open",
    "viewer",
  ] },
  # Fallback
  { name = "*", use = [
    "open",
    "edit",
    "viewer",
    "reader",
    "browser",
  ] },
]
