.widget-buttons-grid * {
  all: unset;
}

.widget-buttons-grid {
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 32px;
  border: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  font-size: 20px;
  min-height: 30px;
  margin: 0px 6px;
  padding: 0px 16px;
  border: none;
  border-radius: 8px;
  background-color: @bg1;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background-color: @yellow;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  background-color: @blue;
}
