.widget-mpris {
  color: @fg0;
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
  background-color: @bg1;
}

.widget-mpris-player {
  padding: 0px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 4px;
}

.widget-mpris-album-art {
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 18px;
}

.widget-mpris-subtitle {
  font-size: 14px;
}
