.notification-row *,
.notification * {
	all: unset;
}

.notification-row {
	margin: 4px;
	padding: 0px;
}

.notification-row:focus,
.notification-row:hover {
	background: @bg3;
}

.notification {
	background: linear-gradient(30deg, @bg3, @bg0);
	border-radius: 20px;
	border: 1px solid @black1;
	padding: 4px 12px;
	margin-right: 32px;
	margin-bottom: 6px;
}

.notification-content {
	background: none;
}

.notification-default-action {
	margin: 0;
	padding: 0;
	border-radius: 0px;
}

.close-button {
	background: @bg2;
	color: @bg0;
	text-shadow: none;
	padding: 0px;
	border-radius: 0px;
	margin-top: 5px;
	margin-right: 5px;
}

.close-button:hover {
	box-shadow: none;
	background: @red;
	transition: all 0.15s ease-in-out;
	border: none;
}

.notification-action {
	border: 2px solid @black1;
	border-top: none;
	border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
	background: @bg0;
}

.notification-default-action {
	border-radius: 5px;
	margin: 0px;
}

.inline-reply {
	margin-top: 8px;
}

.inline-reply-entry {
	background: @bg3;
	color: @fg0;
	caret-color: @fg0;
	border: 1px solid @yellow;
	border-radius: 5px;
}

.inline-reply-button {
	margin-left: 4px;
	background: @bg1;
	border: 1px solid @yellow;
	border-radius: 5px;
	color: @fg0;
}

.inline-reply-button:disabled {
	background: initial;
	color: @black1;
	border: 1px solid transparent;
}

.inline-reply-button:hover {
	background: @bg2;
}

.image {
	border-radius: 0px;
	margin-right: 10px;
}

.summary {
	font-weight: bold;
	background: transparent;
	color: rgba(158, 206, 106, 1);
	text-shadow: none;
}

.time {
	font-weight: bold;
	background: transparent;
	color: @fg0;
	text-shadow: none;
	margin-right: 18px;
}

.body {
	font-size: 14px;
	background: transparent;
	color: @fg0;
	text-shadow: none;
}
