[Desktop Entry]
Name=Steamwrap
Exec=steamwrap %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true

[Desktop Action Store]
Name=Store
Exec=steamwrap steam://store

[Desktop Action Community]
Name=Community
Exec=steamwrap steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Library
Exec=steamwrap steam://open/games

[Desktop Action Servers]
Name=Servers
Exec=steamwrap steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Exec=steamwrap steam://open/screenshots

[Desktop Action News]
Name=News
Exec=steamwrap steam://open/news

[Desktop Action Settings]
Name=Settings
Exec=steamwrap steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=steamwrap steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Exec=steamwrap steam://open/friends
