[Desktop Entry]
Exec=footclient --maximized zsh -c 'source ~/.config/zsh/.zshrc; todo edit'
Name=Todo Edit
Icon=/usr/share/icons/Adwaita/symbolic/legacy/text-editor-symbolic.svg
StartupNotify=false
Terminal=false
Type=Application
